#Load the dataset

In [2]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
data = pd.read_csv(url)

#1. Number of columns in the data frame

In [4]:
num_columns = data.shape[1]
print(f"Number of columns: {num_columns}")

Number of columns: 12

#2. Mean of the house prices

In [3]:
mean_price = data['price'].mean()
print(f"Mean price: {mean_price}")

Mean price: 234144.26395939087

#3. Median of the house prices

In [4]:
median_price = data['price'].median()
print(f"Median price: {median_price}")

Median price: 213750.0

#4. Different types of property in the dataset

In [5]:
property_types = data['type'].unique()
print(f"Property types: {property_types}")

Property types: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

#5. Maximum price of a "condo" in the dataset

In [6]:
max_price_condo = data[data['type'] == 'Condo']['price'].max()
print(f"Max condo price: {max_price_condo}")

Max condo price: 360000

#6. Mean price of each type of property in the dataset

In [7]:
mean_price_by_type = data.groupby('type')['price'].mean()
print(f"Mean price by property type:\n{mean_price_by_type}")

Mean price by property type:
type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

#7. Count of different property types in the dataset

In [8]:
property_type_count = data['type'].value_counts()
print(f"Count of property types:\n{property_type_count}")

Count of property types:
type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64